<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection - assignment 5</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body tabindex="-1">

  <%- include('partials/navbar', { page: '' }) %>

  <br>

  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">500</h1>

          <p class="py-6"><%= message %></p>
        </div>
      </div>
    </div>

    <br>
  </div>
  <footer class="bg-base-100 text-center py-4">
    <p class="text-sm">
        I have used this website as reference:
        <br>
        <a href="https://rose-camel-belt.cyclic.app/" target="_blank" rel="noopener noreferrer" class="text-primary">
          <u>https://rose-camel-belt.cyclic.app/</u>
          
        </a>
      </p>
  </footer>
</body>

</html>
