<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection - assignment 3</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body tabindex="-1">
  <%- include('partials/navbar', { page: '/about' }) %>
  
  <br>

  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">Everything you want to know about me - the designer &amp; developer.</p>
        </div>
      </div>
    </div>

    <br>

    
    <div class="container mx-auto">
      <div class="flex items-center justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
           
            <img class="profile-image" src="https://avatars.githubusercontent.com/u/126459959?v=4" alt="profile">
          
          <div style="text-align: justify;">
            <p>My name is Diana Zhou Kuang, and I am currently studying at Seneca Polytechnic campus in Newham.
            My hobbies include playing board games, watching movies and series, and playing with my nephew. I am in my third semester of the Computer Programming and Analysis course, and I am enjoying it :)
            My favorite subject is Database Systems, and I really appreciate trying new commands using SQL and Oracle. I also enjoy creating diagrams.</p>
          </br>
      
          </div>
         <br>
        </div>
        <br>
      </div>
      <br>
    </div>
      
      
  </div>

  <footer class="bg-base-100 text-center py-4">
    <p class="text-sm">
        I have used this website as reference:
        <br>
        <a href="https://rose-camel-belt.cyclic.app/" target="_blank" rel="noopener noreferrer" class="text-primary">
          <u>https://rose-camel-belt.cyclic.app/</u>
          
        </a>
      </p>
  </footer>
  <br>

</body>

</html>
