<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css">

</head>

<body tabindex="-1">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
    </div>

    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>Theme</summary>
            <ul class="p-2 bg-base-100 right-0">
              <li><a href="/lego/sets?theme=Frozen">Frozen</a></li>
              <li><a href="/lego/sets?theme=Elves">Elves</a></li>
              <li><a href="/lego/sets?theme=Trolls: World Tour">Trolls: World Tour</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  <br>

  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome</h1>
          <p class="py-6">Unleash your inner builder and embark on a fascinating journey through the colorful realm of Lego.</p>
          <br>
          <a href="/lego/sets" class="btn btn-primary">Get Started Now</a>
        </div>
      </div>
    </div>

    <br>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="card bg-base-100 shadow-xl">
        <!-- Card content for set 71022-2 -->
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/71022-2.jpg" alt="Lego Set">
        </figure>
        <div class="card-body">
          <h2 class="card-title">Hermione Granger</h2>
          <p>Collectible Minifigures</p>
          <div class="card-actions justify-end">
            <br>
            <a href="/lego/sets/71022-2" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl">
        <!-- Card content for set 41256-1 -->
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/41256-1.jpg" alt="Lego Set">
        </figure>
        <div class="card-body">
          <h2 class="card-title">Rainbow Caterbus</h2>
          <p>There are 162 parts in this inventory, with 380 total quantity. </p>
          <div class="card-actions justify-end">
            <br>
            <a href="/lego/sets/41256-1" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl">
        <!-- Card content for set 41165-1 -->
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/41165-1.jpg" alt="Lego Set">
        </figure>
        <div class="card-body">
          <h2 class="card-title">Anna's Canoe Expedition</h2>
          <p>There are 55 parts in this inventory, with 100 total quantity. </p>
          <div class="card-actions justify-end">
            <br>
            <a href="/lego/sets/41165-1" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<footer class="bg-base-100 text-center py-4">
    <p class="text-sm">
      I have used this website as reference:
      <br>
      <a href="https://busy-puce-fox-belt.cyclic.app/" target="_blank" rel="noopener noreferrer" class="text-primary">
        <u>Busy-Puce-Fox-Belt</u>
        
      </a>
    </p>
  </footer>
</footer>
<br>
</body>

