<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body tabindex="-1">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
    </div>

    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>Theme</summary>
            <ul class="p-2 bg-base-100 right-0">
                <li><a href="/lego/sets?theme=Frozen">Frozen</a></li>
                <li><a href="/lego/sets?theme=Elves">Elves</a></li>
                <li><a href="/lego/sets?theme=Trolls: World Tour">Trolls: World Tour</a></li>  
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  <br>

  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">404</h1>

          <p class="py-6">I'm sorry, we're unable to find what you're looking for.</p>
        </div>
      </div>
    </div>

    <br>
  </div>
  <footer class="bg-base-100 text-center py-4">
    <p class="text-sm">
        I have used this website as reference:
        <br>
        <a href="https://busy-puce-fox-belt.cyclic.app/" target="_blank" rel="noopener noreferrer" class="text-primary">
          <u>Busy-Puce-Fox-Belt</u>
          
        </a>
      </p>
  </footer>
</body>

</html>
